<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet</display-name>
  <welcome-file-list> 
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  <!-- declare my servlet. register with the container -->
  <servlet>
  	<servlet-name>danPickles</servlet-name>
  	<servlet-class>com.revature.servlets.HelloServlet</servlet-class>
  </servlet>
  <!-- what is the url pattern? -->
  <servlet-mapping>
  	<servlet-name>danPickles</servlet-name>
  	<url-pattern>servletUrl</url-pattern> <!-- look in <form action="?"> -->
  </servlet-mapping>
  
</web-app>
